*{margin:0; paDDING:0}

nav{
    background-color: darkblue;
    height:50px;
    justify-content: center;
    
}
#search{
    font-size: 20px;
    width:25%;
    margin-left: 35%;
}
#drop{
    background-color: lightgray;
    width:25%;
    text-align: center;
    margin-left:35%
}

.tile{
    position: relative;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    width: 200px;
    background-color: lightgray;
    height: 95px;
    padding: 5px;
    border-radius: 10%;
    margin: 5%;
    font-size: 20px;
}
#choice button{
    margin: 2px;
    border: 0;

}
.tile:hover, .hvr-grow:focus, .hvr-grow:active, .hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
.container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}
#tag{
    background-color: rgb(110, 110, 215);
    border: 0;
    text-align: center;
    margin-right: 10px;
    cursor: pointer;
}
.tile .choice button{
    width:100%;

}
.choice button{
    width:100px;
    margin: 2%;
    cursor: pointer;
    
}
#points{
    display: block;
    position:fixed;
    top: 0;
    left: 0;
    margin-top: 5px;
    width: 5px;
    
    margin-left: 80%;
    cursor: pointer;

}
#points span{
    color: black;

    font-size: 10px;
    margin-left: 2px;
    background-color: black;
    width: 20px;;
    height:20px;
    border-radius: 50%;
    cursor: pointer;
    

}
#menu{
    position: relative;
    display: block;
    transform: translateX(-7px);
    -webkit-filter: drop-shadow(0 0 6px var(--shadow-2));
    border-bottom-right-radius: var(--card-corner-radius);
    background-color: gainsboro;
    padding: 2px;
    width: 100px;
    cursor: default;
    box-shadow: var(--card-box-shadow);


}
#menu button{
    width: 100px;
    border: 0;
    margin: 0;
    cursor: pointer;
    border-bottom: 5px, solid;
    font-size: 10px;
}
#social{
    background-color: #fff;
    position: fixed;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 25%;
    height: 100px;
    place-items: center;
    text-align: center;
    padding-top: 2%;
    padding: 2%;

}
#social input{
    width:100%;
    margin-bottom: 1%;

}
.hover{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    outline: none;
    border-color: #9ecaed;
    box-shadow: 0 0 20px #9ecaed;
}
.choice{visibility: hidden;}
.visible .choice{
    visibility: visible;
}
.visible{height:200px;}