*{margin:0; paDDING:0}

nav{
    background-color: darkblue;
    height:50px;
    justify-content: center;
    
}
#search{
    font-size: 20px;
    width:25%;
    margin-left: 35%;
}
#drop{
    background-color: lightgray;
    width:25%;
    text-align: center;
    margin-left:35%
}
a{
    color:black;
    text-decoration: none;
}
#tile{
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    width: 200px;
    background-color: lightgray;
    height:100px;
    padding: 5px;
    border-radius: 10%;
    margin: 5%;
    font-size: 20px;
}
#tile:hover, .hvr-grow:focus, .hvr-grow:active {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
.container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}
#tag{
    background-color: rgb(110, 110, 215);
    padding: 5px;
    text-align: center;
    margin-right: 10px;
}