*{
    margin: 0;
    padding: 0;
}
.container{
    margin-left: 10%;
    width:80%;
    visibility: visible;
}
.container input, .container button, .container p{
    width:100%;
    font-size: 20px;

}
.container button{
    background-color: blue;
    border: 0;

}
#special{
    visibility: hidden;
    text-align: center;
    background-color: lightgrey;

}