*{margin:0; padding:0;}
body{background-color: rgb(252, 252, 252);height: 10vh;}
#login{
    position: fixed;
    top: 0;
    left: 0;
    text-align: center;
    display: block;
    margin: 10%;
    width:50%;
    margin-left: 25%;
    background-color: rgb(110, 145, 241);
    padding: 5%;
}
input, label, button{
    margin-top: 5%;
    width: 100%;
    font-size: 20px;
}
button{margin-top: 5%;}
nav{
    -webkit-font-smoothing: subpixel-antialiased;
    background: #0c0c0c;
    border-bottom: 1px solid black;
    box-sizing: border-box;
    color: #fff;
    display: flex;
    font-size: 13px;
    height: 32px;
    justify-content: space-between;
    left: 0;
    margin: 0;
    max-width: 100vw;
    opacity: 1;
    
    transition: all .3s ease-in-out;
    width: 100%;
    z-index: 180;
    margin-bottom: 2%;
    
}
#admin_dashboard{    visibility: hidden;
}
#admin_dashboard #name{
    margin-left:30%;
}
#admin_dashboard #options{
    width:100%;
}
#login #error{
    visibility: hidden;
    background-color: lightcoral;
    width:50%;
    margin-top: 1%;
    margin-left: 25%;
}
#body{visibility: hidden;}
#latest, #create{
    width: 20%;
    height:50%;
    padding: 1%;
    background-color: lightcyan;
}
#quiz_maker{
    visibility: hidden;;
}

#latest, #create{
    margin-left: 25%;
}
#row, .row{display: flex;margin-bottom: 2%;}
#list{
    background-color: rgb(199, 228, 228);
    margin-bottom: 2%;
}

.material-symbols-outlined{cursor: pointer;}