*{
    margin: 0;
    padding: 0;
}
body{
    position: relative;
}
.container{
    margin-top: 5%;
    margin-left: 10%;
    width:80%;
    visibility: visible;
    background-color: lightblue;
    padding: 20px;
    border-radius: 10;
}
.container input, .container button, .container p, .container th, .container td{
    width:100%;
    text-align: center;
    font-size: 20px;

}
.container button{
    background-color: blue;
    border: 0;
    color: white;

}

#congrats button{
    background-color: blue;
    width: 100%;
}
#congrats{
    position: fixed;
    margin: 10%;
    width: 80%;
    height:80%;
    top: 0;
    left: 0;
    text-align: center;
    background-color: rgb(221, 212, 212);
    padding: 20px;
    border-radius: 10%;
}
#breaker{
  margin-left: 5%;

}
tr{
  border-bottom: 5px, solid;
}
#breaker{
  border-right: 5px, solid;
}
#title{
  text-align: center;
}
